*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-rendering:optimizeLegibility;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.loadcurtain {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-animation: curtainpop 1s ease-in 1 normal;
            animation: curtainpop 1s ease-in 1 normal; 
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
}

@-webkit-keyframes curtainpop{
    0%   { opacity: 0; }
  100% { opacity: 0.7; }
}

@keyframes curtainpop{
    0%   { opacity: 0; }
  100% { opacity: 0.7; }
}

body
{
    font-family: Helvetica, sans-serif;
    background: #000000;
    font-size: 18px;
    line-height: 1.6em;
    color: #B9B9B9;
    padding: 0;
    margin: 0;
}

.logo {
    display: block;
    width: 250px; /*240px*/
    margin: 0 auto 20px auto;
    padding-top: 7vh;
    fill: white;
}
  

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 6vh;
    font-size: 100%;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    opacity: 0.7;
}

h2 {
    font-weight: 400;
    letter-spacing: 0.5px;
}
/* ------ SVG Styles ------ */
.st0 {fill:white;}
.st1{fill:#ED4956;}
.st2{fill:#D8D8D8} 
.st3{fill:#343434;} 

#instaphone { 
    width: auto;
    height: 100%;
    display: block;
    margin: auto;
    padding-bottom: 6vh;
    position: relative;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}
#instaphone.show { 
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}
/*
@-webkit-keyframes phoneFadeOut {    
    0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes phoneFadeOut {    
    0%   { opacity: 1; }
  100% { opacity: 0; }
}
*/


#phonediv {
    height: 52%;
    display: auto;
    transition: height 1s ease-out;
    transition-delay: 4s;
}

#phonediv.small {
    height: 45%;
    transition: height 0.5s ease-out;
    transition-delay: 0.7s;
}


#screenimage {
    position:absolute;
    display: block;
    margin: 0 auto;
    top: 42%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 38%;
    /*animation: nudge 8s ease-in infinite alternate;*/ 
}

/*****************/

.link,
a.link:link,
a.link:visited
{
    text-decoration: none;
    color: white;
    font-weight: 300;
    letter-spacing: .5px;
}

.link:hover,
a.link:link:hover,
a.link:visited:hover
{

}

/*****************/

.start-screen
{
    height: 100vh;
    position: relative;
}

label
{
    height: 45px;
    width: 200px;
    min-width: 175px;
    text-align: center;
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 7px;
    background-color:#6a2d90;
}

label:hover {
    background-color: #9641cb;
}
.start-screen__result
{
    position: absolute;
    width: 100%;
    top: 43%;
    left: 50%;
    -webkit-transform: translate(-50%, -57%);
            transform: translate(-50%, -57%);
    padding: 0 20px;
    z-index: 100;
}


/*****************/

.result-screen
{
    width: 100%;
    padding: 0 20px;
    max-width: 1100px;
    display: block;
    margin: auto;
    position: relative;
    bottom: 16vh;
    -webkit-animation: curtainpop 0.7s ease-in 1 normal;
            animation: curtainpop 0.7s ease-in 1 normal; 
    /*
    position: absolute;
    left: 50%;
    top: 86vh;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    */
}

/*****************/

.upload
{
    cursor: pointer;
}
.upload [type=file]
{
    display: none;
}

/*****************/

.result-tmbs
{
    font-size: 0;
    line-height: 0;
    text-align: center;
}


.result-tmbs__img
{
    max-width: 150px;
    margin-right: 2px;
    -webkit-animation: curtainpop 0.4s ease-in 1 normal;
            animation: curtainpop 0.4s ease-in 1 normal; 
}
.result-tmbs__img:last-child
{
    margin-right: 0;
}

/*****************/

.please-wait
{
    
}

/*****************/

.result-full
{
}
.result-full__img
{
    width: 100%;
    margin-bottom: 10px;
}

p { 
    font-size: 110%;
    letter-spacing: 0.5px;
    width: auto;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    color: white;}
