*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-rendering:optimizeLegibility;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.loadcurtain {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 1;
    animation: curtainpop 1s ease-in 1 normal; 
}

@keyframes curtainpop{
    0%   { opacity: 0; }
  100% { opacity: 0.7; }
}

body
{
    font-family: Helvetica, sans-serif;
    background: #000000;
    font-size: 18px;
    line-height: 1.6em;
    color: #B9B9B9;
    padding: 0;
    margin: 0;
}

.logo {
    display: block;
    width: 250px; /*240px*/
    margin: 0 auto 20px auto;
    padding-top: 7vh;
    fill: white;
}
  

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 6vh;
    font-size: 100%;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    opacity: 0.7;
}

h2 {
    font-weight: 400;
    letter-spacing: 0.5px;
}


/* working phone
.phone { 
    width: auto;
    height: 100%;
    display: block;
    margin: auto;
    padding-bottom: 6vh;
    position: relative;
    animation: phoneFadeOut 1s ease-in 1 normal;
    animation-fill-mode: forwards;
}
*/

#instaphone { 
    width: auto;
    height: 100%;
    display: block;
    margin: auto;
    padding-bottom: 6vh;
    position: relative;
    opacity: 1;
    transition: opacity 0.4s ease-in;
}
#instaphone.show { 
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

@keyframes phoneFadeOut {    
    0%   { opacity: 1; }
  100% { opacity: 0; }
}


.phonediv {
    height: 52%;
    display: block;
    margin: auto;
    /*position: relative;
    top: 35%;
    left: 30%;
    display: block;
    transform: translate(-30%, -50%);
    */
}


#screenimage {
    position:absolute;
    display: block;
    margin: 0 auto;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 38%;
    /*animation: nudge 8s ease-in infinite alternate;*/ 
}

@keyframes nudge {
    0% {
    transform: translate(-17%, -50%);
    }
    40% {
    transform: translate(-17%, -50%);
    }
    45% {
    transform: translate(-83%, -50%);
    }
    55% {
    transform: translate(-83%, -50%);
    }
    70% {
    transform: translate(-17%, -50%);
    }
    100% {
    transform: translate(-17%, -50%);
    }
   /*
  100% {
    transform: translate(-30%, -50%);
  }*/
}
/*
.clip-svg img {
    width: 100%;
    height: auto;
}
.clip-screen {
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(186, 54, 120, 0.45);
} 
*/
/*
.screencontent {
    height: 133.4px;
    width:78.0px;
    background-color: rgba(240, 255, 255, 0.45);
}
*/
/* 
.clip-svg {
    clip-path: url(#myClip);
}

#myClip {
} 

.screencontent {
    display: block;
    width: 400px;
    height: 695px;
    position: absolute;
    left: 28px;
    top: 111px;
    background-color: aqua;
}
*/

/*
.phonediv {
    position: relative;
    width: 100%;
    height: 100%;
}
.screen {
    width: 100px;
    height: 30%;
    position: absolute;
    background-color: beige;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/
/* -------------------- */
/*
.clip-svg {
    height: auto;
    clip-path: url(#myClip);
}
#myClip {
    position: absolute;    
}

.phone {
    position: relative;
    height: 40%;

}

.phonediv {
    display: block;
    width: 20%;
    height: auto;
    min-width: 200px;
    max-height: 500px;
    margin: auto;
}
/*
.screencontent {
    width: 100%;
    height: 100%;
    background-color: rgba(127, 255, 212, 0.42);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.phonediv {
    display: block;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*****************/

.link,
a.link:link,
a.link:visited
{
    text-decoration: none;
    color: white;
    font-weight: 300;
    letter-spacing: .5px;
}

.link:hover,
a.link:link:hover,
a.link:visited:hover
{

}

/*****************/

.start-screen
{
    height: 100vh;
    position: relative;
}

label
{
    height: 45px;
    width: 200px;
    min-width: 175px;
    text-align: center;
    display: block;
    margin: 0 auto 0 auto;
    /*position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    */
    padding-top: 7px;
    background-color:#6a2d90;
    /*border: solid 2px white;*/
}

label:hover {
    background-color: #9641cb;
}
.start-screen__result
{
    position: absolute;
    width: 100%;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -57%);
    padding: 0 20px;
    z-index: 100;
}


/*****************/

.result-screen
{
    width: 100%;
    padding: 0 20px;
    max-width: 1100px;
    display: block;
    margin: auto;
    position: relative;
    bottom: 12vh;
    animation: curtainpop 0.7s ease-in 1 normal; 
    /*
    position: absolute;
    left: 50%;
    top: 86vh;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    */
}

/*****************/

.upload
{
    cursor: pointer;
}
.upload [type=file]
{
    display: none;
}

/*****************/

.result-tmbs
{
    font-size: 0;
    line-height: 0;
    text-align: center;
}


.result-tmbs__img
{
    max-width: 150px;
    margin-right: 2px;
    animation: curtainpop 0.4s ease-in 1 normal; 
}
.result-tmbs__img:last-child
{
    margin-right: 0;
}

/*****************/

.please-wait
{
    
}

/*****************/

.result-full
{
}
.result-full__img
{
    width: 100%;
    margin-bottom: 10px;
}

p { 
    font-size: 110%;
    letter-spacing: 0.5px;
    width: auto;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    color: white;
