*,
*::before,
*::after {

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'Raleway', Helvetica, sans-serif;
    background: #000;
    font-size: 18px;
    line-height: 1.6em;
    color: #B9B9B9;
    padding: 0;
    margin: 0;
}

/*****************/

.link,
a.link:link,
a.link:visited
{
    text-decoration: none;
    color: #B9B9B9;
    border-bottom: 1px solid rgba(185,185,185,.4);
}
.link:hover,
a.link:link:hover,
a.link:visited:hover
{
    color: #f00;
    border-bottom-color: rgba(255,0,0,.4);
}

/*****************/

.start-screen
{
    height: 100vh;
    position: relative;
}

.start-screen__logo
{
    text-align: center;
    padding: 5% 20px 0;
}

.start-screen__intro
{
    margin-top: 5%;
}

.start-screen__upload
{
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    text-align: center;
}

.start-screen__result
{
    position: absolute;
    top: 20%;
    padding: 0 20px;
    width: 100%;
}

/*****************/

.logo
{
    margin: auto;
    width: 45%;
    max-width: 250px;
    font-size: 14px;
}

.description
{

}

/*****************/

.iphone
{
    margin: auto;
    width: 45%;
    max-width: 250px;
    position: relative;
}
.iphone__svg
{
    width: 100%;
}
.iphone__pan
{
    overflow: hidden;
    /* width: 100%; */
    display: block;
    margin: auto;
    position: absolute;
    top: 26%;
    left: 6.4%;
    right: 6.3%;
    height: 42%;
}
.iphone__pan-img
{
    height: 100%;
    animation: slide 12s ease infinite;
}
.iphone__drag
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #565656;
    position: absolute;
    top: 50%;
    /* left: 70%; */
    z-index: 9;
    animation: touchmove 12s ease infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    9% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-33%);
    }
    66% {
        transform: translateX(-66%);
    }
    90% {
        transform: translateX(-66%);
    }
}

@keyframes touchmove {
    0% {
        left: 85%;
        opacity: 1;
    }
    9% {
        left: 85%;
    }
    33% {
        left: 5%;
        opacity: 1;
    }
    34% {
        left: 85%;
        opacity: 0;
    }
    35% {
        left: 85%;
        opacity: 1;
    }
    66% {
        left: 5%;
        opacity: 1;
    }
    67% {
        left: 5%;
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/*****************/

.result-screen
{
    padding: 20px;
    margin-top: -80px;
}

/*****************/

.upload
{
    cursor: pointer;
}
.upload [type=file]
{
    display: none;
}

/*****************/

.result-tmbs
{
    font-size: 0;
    line-height: 0;
    text-align: center;
}
.result-tmbs__img
{
    max-width: 150px;
    margin-right: 2px;
}
.result-tmbs__img:last-child
{
    margin-right: 0;
}

/*****************/

.please-wait
{

}

/*****************/

.result-full
{
}
.result-full__img
{
    width: 100%;
    margin-bottom: 10px;
}
